li {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: white;
}

div {
  font-style: oblique;
}
header {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  color: white;
}


.juniper {
  border-style: solid;
  border-color: #ffe3c6;
  margin-bottom: 40px;

}

.juniper {
  display: flex;
  justify-content: flex-end;
}


body {
  background-color: #95c200;
}
