li {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: black;
}

div {
  font-style: oblique;
}
header {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  color: black;

}


.juniper {
  border-style: dotted;
  border-color: #c20095;
  margin-bottom: 40px;
  border-width: thick;

}

.juniper {
  display: flex;
  justify-content: flex-end;
}


body {
  background-color: #95c200;
}

nav {
  border-style: double;
  border-color: white;

}

#table {
  border-style: groove;
}
.button {
  padding:5px;
  background-color: #C6E2FF;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  font-family:cursive;
  
}
